*.byte
*.docdir
*.native
/Makefile
/_build
/_tags
/bitpath.docdir
/configure
/src/META
/src/bitpath.mllib
/src/bitpath.odocl
/src/libbitpath.pc
/src/libbitpath_stubs.clib
/setup.data
/setup.log
/setup.ml
